/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
}

body {
  /* background-color: hsl(0, 0%, 95%); */
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display';
}

p {
  font-family: 'Roboto';
}

/* Helper Classes */

.flex {
  display: flex;
  flex-direction: column;
}


/* ==== Header ==== */

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 12px;
  background: url(images/19861.jpg) center/cover no-repeat;
}

header h1 {
  font-weight: 500;
}

.header-img-container {
  max-width: 90vw;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.header-img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.about-section {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  place-items: center;
  gap: 12px;
  padding: 0 20px;
}

.social-links {
  display: flex;
  gap: 12px;
}

header i {
  font-size: 24px;
}

/* ==== Main Projects ==== */

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-cards-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 500px)); */
}

.project-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 90vw;
}

.project-info-container {
  gap: 8px;
  padding: 8px;
}

.name-links-container {
  display: flex;
  justify-content: space-around;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.project-links i  {
  font-size: 20px;
}

.project-links .icon {
  font-size: 20px;
}